<%- include('partials/header') -%>

<form>
    <h2>Login</h2>
    <label for="email">Email</label>
    <input type="text" name="email" required />
    <div class="email error"></div>
    <label for="password">Password</label>
    <input type="password" name="password" required />
    <div class="password error"></div>
    <button style="cursor: pointer;">Login</button>
  </form>
  <script>
      const form = document.querySelector('form');
      form.addEventListener('submit',(e)=>{
          e.preventDefault()
          const email = form.email.value;
          const password = form.password.value;
      })
  </script>

<%- include('partials/footer') -%>